# PostgreSQL

POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me
POSTGRES_DB=soundbase
POSTGRES_PORT=5432

# Prisma executado no Windows/local
DATABASE_URL="postgresql://postgres:change_me@localhost:5432/soundbase?schema=public"

# Aplicação executada no Docker
DATABASE_URL_DOCKER="postgresql://postgres:change_me@postgres:5432/soundbase?schema=public"

# NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=change_me